*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}



.container{
    width:900px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.icon-cart img{
    width: 30px;
}

/* header{
         width: 1140px;
        max-width: 80%;
        margin: auto;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
        justify-content: space-between; 

} */
header a{
    text-decoration: none;
    color: #f1683a;
    width: 50px;
    border: 1px solid #f1683a;
    border-radius: 20px;
    padding: 10px;

}
header a{
    margin-right: 48px;

}

header{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    /* max-width: 90%; */
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    /* background-color: #353432; */
    z-index: 100;

}

header .icon-cart{
    position: relative;
}


header .icon-cart span{
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:url(Images/Gourmet-Pizza.jpeg) ;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .hero-text{   
     align-items: center;
     text-transform: uppercase;
    color: #f1683a;
    font-size: 45px;
    /* width: 500px; */
    text-align: center   ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    /* position: absolute;
    left: 0;
    top: 0; */
}
.listproduct .item img{
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 50px 20px #0009 );
    border-radius: 15px;
    /* height: 50%; */

}

.listproduct{
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    gap:20px ;
}

.listproduct .item{
    background-color: #353432;
    border: 1px solid #f1683a;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    animation: fade-in 10s linear 1 forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

@keyframes fade-in {
    from{
        opacity: 0;
       /* transform: translateX(-200px); */
       scale: 0.8;
    }

    to{
        opacity: 1;
        /* transform: translateX(0px); */
        scale: 1;
    }
}
.listproduct .item .product-name{
    width: 80%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* color: blue; */
}

.listproduct  .item h2{
    font-weight: 500;
    font-size: large;
    /* width: 80%; */
    /* height: 100px; */
    text-align: center;
}

.listproduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    
}

.listproduct .item button{
    background-color: #f1683a;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top:10px ;
    border: none;
    cursor: pointer;
}

.carttab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition:  0.5s ;
}

body.showCart .carttab{
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.carttab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.carttab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carttab .btn a{
    display: block;
}

.carttab .btn  button{
    background-color: #f1683a;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.carttab .btn a{
    background-color: #f1683a;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.carttab .btn .close{
    background-color: white;
}

.carttab .listcart .item img{
    width:50px;
    height: 50px;
   border-radius: 100%;
}

.carttab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
   gap: 10px;
   text-align: center;
   align-items: center;
}

.carttab .listcart::-webkit-scrollbar{
    width: 0;
}

.listcart .quantity span{
 display: inline-block;
 width: 25px;
 height: 25px;
 background-color: #eee;
 color: #555;
 border-radius: 50%;
 cursor: pointer;
}

.listcart .quantity span:nth-child(2){
    background-color: transparent;

    color: #eee;
}

.listcart .item:nth-child(even){
    background-color:#0001 ;
}

.listcart{
    overflow: auto;
}

.listcart ::-webkit-scrollbar{
    width: 0;
}


.footer {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #f1683a;

  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
  }
  
  .footer-column h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;

  }
  
  .footer-column li {
    margin-bottom: 10px;
    color: black;
  }
  
  .footer-column li a:hover {
    text-decoration: underline;
    
  }
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #f1683a;
    padding-top: 20px;
  }
  
  .footer-brand {
    font-weight: 500;
    display: flex;
  }
  
  .footer-brand p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #555;
  }

  .footer a{
    color: black;
    text-decoration: none;
  }
  
  .footer-socials a {
    margin-right: 15px;
    display: inline-block;
  }
  
  .footer-socials img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .footer-socials img:hover {
    filter: none;
  }



.footer-socials img:hover {
transform: scale(1.1);
}
